<h2 class="mx-auto p-2">Todos los productos:</h2>
<div class="container">

	<div class="row">
		{{#if products.length}}
		{{#each products}}
		{{!-- Card --}}
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">

					{{!-- Img card --}}
					{{#if this.thumbnails.length}}
					{{!--  Carrousel --}}
					<div
						id="thumbnails"
						class="carousel slide"
					>
						<div class="carousel-inner">
							{{#each this.thumbnails}}
							{{#if @first}}
							<div class="carousel-item active">
								{{else}}
							<div class="carousel-item">
							{{/if}}
								<img
									src="uploads/products/{{this}}"
									class="card-img-top object-fit-cover mb-3"
									alt="images"
									style="height: 13.7rem"
								/>
							</div>
							{{/each}}
							<button
								class="carousel-control-prev"
								type="button"
								data-bs-target="#thumbnails"
								data-bs-slide="prev"
							>
								<span
									class="carousel-control-prev-icon"
									aria-hidden="true"
								></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button
								class="carousel-control-next"
								type="button"
								data-bs-target="#thumbnails"
								data-bs-slide="next"
							>
								<span
									class="carousel-control-next-icon"
									aria-hidden="true"
								></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					{{!--  Carrousel --}}
					</div>

						{{else}}
						<img
							src="assets/images/not-available.webp"
							class="card-img-top object-fit-cover mb-3"
							alt="images"
							style="height: 13.7rem"
						/>
						{{/if}}
						{{!-- Img card --}}

						<h5 class="card-title">{{this.title}}</h5>
						<p class="card-subtitle">{{this.category}}</p>
						<p class="card-text">{{this.description}}</p>
						<p class="card-text">${{this.price}}</p>
						<p class="card-text">Stock: {{this.stock}}</p>
						<button class="btn btn-danger">Delete product</button>
				</div>
			</div>
		</div>
		{{/each}}
		{{!-- Card --}}

		{{else}}
		<h3 class="text-body-secondary">Sin productos...</h3>
		{{/if}}

	</div>
</div>
